<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @polla_mundial.nombre %>
</p>

<p>
  <strong>Colombia:</strong>
  <%= @polla_mundial.colombia %>
</p>

<p>
  <strong>Japon:</strong>
  <%= @polla_mundial.japon %>
</p>

<p>
  <strong>Polonia:</strong>
  <%= @polla_mundial.polonia %>
</p>

<p>
  <strong>Colombia:</strong>
  <%= @polla_mundial.colombia %>
</p>

<p>
  <strong>Colombia:</strong>
  <%= @polla_mundial.colombia %>
</p>

<p>
  <strong>Senegal:</strong>
  <%= @polla_mundial.senegal %>
</p>

<%= link_to 'Edit', edit_polla_mundial_path(@polla_mundial) %> |
<%= link_to 'Back', polla_mundials_path %>
