<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @polla_mundialistum.nombre %>
</p>

<p>
  <strong>Partido:</strong>
  <%= @polla_mundialistum.partido %>
</p>

<p>
  <strong>Local:</strong>
  <%= @polla_mundialistum.local %>
</p>

<p>
  <strong>Visitante:</strong>
  <%= @polla_mundialistum.visitante %>
</p>

<%= link_to 'Edit', edit_polla_mundialistum_path(@polla_mundialistum) %> |
<%= link_to 'Back', polla_mundialista_path %>
